html, body {
    height: 100%;
    width: 100%;
}

.barra_de_navegación {
    background-color: white;
    padding: 4px;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    z-index: 5;
}


.contenedor_barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.boton_logo{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img:hover {
    background-color: #d3d1d1;
}

.logo__img {
    height: 20px;
    width: 20px;
}

.boton_inicio {
    height: 40%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 10%;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.boton_hoy {
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
}


.hoy {
    color: black;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 8px;
    margin: 2px;
    border-radius: 20px;
    border: 1px solid rgb(161, 155, 155);
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* barra busqueda */
.barra_busqueda {
    background-color: #e7e7e7;
    color: #333;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
}

.logo_busqueda {
    padding: 15px;

}
/* input de busqueda */
.input {
    background-color: #e7e7e7;
    display: block;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding-left: 1px;
    margin-right: 20px;
    outline: none;
    
}

/* botones derechos */
.botones_der {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.boton_notificacion {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.boton_notificacion:hover {
    background-color: d3d1d1;
}

.boton_comentario {
    height: 35%; 
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.boton_usuario {
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
}
/* aqui comienzan los div con imagen */

/* .orden_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
    border: 5px;
    position: relative;
    top: 90px;
    z-index: 1;
}

.img1 {
    background-color: royalblue;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.imagen {
    background-color: darkgray;
    height: 341px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.img_demo{
    height: auto;
    width: 100%;
    margin: 8px;
}

.img_info {
    background-color: red;
    height: 60px;
    width: 100%;

} */
{
    box-sizing: border-box;
}
img {
    border-radius: 20px;
    padding: 5px;
}
.contenido_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 90px;
}

.columnas {
    display: flex;
    flex-direction: column;
    width: 325px;
    padding: 3px;
    z-index: 2;
}
/* medidas, 320, 768, 1024 */
@media (min-width: 320px) and (-width: 320px)  {
    .columnas {
        flex: 80%;
    }
}