html, body {
    height: 100%;
    width: 100%;
}

.barra_de_navegación {
    padding: 4px;
    height: 90px;
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: 5% 5% 5% 70% 5% 5% 5%; */
    align-items: center;
    justify-content: space-evenly;
}

.boton_logo{
    height: 80%;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_gif {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    cursor: pointer;
    
}
img {
    border-radius: 80%;
}

.boton_inicio {
    height: 40%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inicio {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 10%;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.boton_hoy {
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
}

.hoy {
    background-color: lemonchiffon;
    color: black;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    padding: 15%;
    border-radius: 20px;
    border: 2px solid rgb(161, 155, 155);
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.barra_busqueda {
    background-color: #e7e7e7;
    color: #333;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
}

.logo_busqueda {
    padding: 15px;

}
/* input de busqueda */
.input {
    background-color: #e7e7e7;
    display: block;
    height: 30px;
    width: 980px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    margin-right: 20px;
    
}

.boton_notificacion {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.boton_comentario {
    height: 35%; 
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.boton_usuario {
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
}
